nav{
    background-color: #1a212d;
    .nav-link{
        color:#fff!important;

    }
    .rightside{
        svg{
            fill:#ddd;
            margin-right: 20px;
        }
        img{
            width: 40px;
        }
    }
}
